#id01, #id02 {
    z-index: 103;
  }
  .w3-top {
      z-index: 100;
      height: 4rem;
      background-color: rgba(30,49,72,0.9);    
  }
  .w3-bar-single-item {
      padding-left: 1.5em;
      padding-right: 1.5em;
      padding-top: 0.8em;
      border-left: 2px solid gray;
      height: 97%;
  }
  .w3-bar {
      padding-right: 2em;
  }
  .logo-nav{
      height: 50px;
      margin-top: 5px;
      margin-left: 1em;
  }
  .sidebar-btn{
      float: right;
      margin-top: 12px;
     display: none;
  }
  .navigation-right {
      height: 4rem;
      display: flex;
      align-items: center;
  }
  .navigation-right a {
      font-size: large;
      color: white;
      cursor: pointer;
  }
  .shadow-1{
      box-shadow: 0px 1px 6px 0px rgb(99, 119, 136);
  }
  
  
  @media only screen and (max-width: 1080px) {
      .w3-bar-single-item{
          padding-left: 1.3em;
      padding-right: 1.3em;
      }  
    }
  
  @media only screen and (max-width: 940px) {
      .w3-bar-single-item{
          padding-left: 1em;
      padding-right: 1em;
      }  
    }
  
    @media only screen and (max-width: 860px) {
      .w3-bar-single-item{
          padding-left: 0.7em;
      padding-right: 0.7em;
      }  
    }
  
    @media only screen and (max-width: 788px) {
      .w3-bar-single-item{
          padding-left: 0.3em;
          padding-right: 0.3em;
          
      } 
       
    }
  
    @media only screen and (max-width: 700px) {
      .w3-bar-single-item{
          display: none;
      }
    .sidebar-btn{
  
     display: block;
  }
    }
  .navigation-right .active {
      background-color:  rgba(23, 36, 51, 0.9); 
  }
  .modal-inner {
      width: 50%;
      margin: auto;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: rgba(30,49,72,0.9);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  .cancel-div {
      display: flex;
      align-items: flex-end;
      padding-left: 91.5%;
      margin-bottom: -0.6em;
  }
  /* Extra styles for the cancel button */
  .cancelbtn {
    display: block;
    width: 40px;
    padding: 10px 12px;
    background-color: #db1b0dd5;
    float: right;
  }
  
  .register-btn {
    background-color: rgba(6, 114, 114, 0.89);
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  .LoginForm {
      padding: 1.5%;
  }
  
  /*////////register form\\\\\\\\\\\\*/
  
  .RegisterForm {
      background-color: white;
      border-radius: 3px;
      margin-bottom: 4em;
      padding: 1.5%;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    /* .cancelbtn {
       width: 100%;
    } */
  }
  
  /* Full-width input fields */
  .RegisterForm input[type=text], input[type=password] ,select{
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    /* .RegisterForm  {
      border-radius: 0em;
      height: ;
    } */
    /* Add a background color when the inputs get focus */
    .RegisterForm input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Set a style for all buttons */
    /* button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
     */
    /* button:hover {
      opacity:1;
    }
     */
    /* Extra styles for the cancel button */
    .RegisterForm .loginbtn {
      padding: 14px 20px;
      background-color: #31bb5a;
    }
    
    /* Float cancel and signup buttons and add an equal width */
    .RegisterForm  {
      width: 50%;
    }
    .signupbtn {
      float: left;
      width: 70%;
    }
    .loginbtn {
        float: right;
        width: 30%;
    }
    /* Add padding to container elements */
    /* .container {
      padding: 16px;
    } */
    
    /* Modal Content/Box */
    /* .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      /* border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    /*}  */
    
    /* Style the horizontal ruler */
    .RegisterForm hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
     
    /* The Close Button (x) */
    .RegisterForm .close {
      position: absolute;
      right: 35px;
      top: 15px;
      font-size: 40px;
      font-weight: bold;
      color: #f1f1f1;
    }
    
    .RegisterForm .close:hover,
    .RegisterForm .close:focus {
      color: #f44336;
      cursor: pointer;
    }
    
    /* Clear floats */
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    .RegisterForm .cancel-div {
        margin-bottom: -2em;
    }
    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {
      .RegisterForm .cancelbtn, .signupbtn {
         width: 100%;
      }
    }
  
    .w3-dropdown-content {
      background-color: #888;
    }